extends layout
append head

  script(type='text/javascript').
  
    var PASSWORDS_OK = 0;
    var PASSWORDS_MUST_MATCH = 1;
    var PASSWORD_TOO_SHORT = 2;
    
    function updateErrorMessageWithText(s) {
    
      var pErrorMessage = document.getElementById('errorMessage');
      pErrorMessage.innerHTML = s;
    }

    function displayValidationMessage(errorCode) {
 
      var message = null;
  
      if (errorCode === PASSWORDS_MUST_MATCH) {
        message = 'Passwords must match.';
      }
      else if (errorCode === PASSWORD_TOO_SHORT) {
        message = 'Password must be at least 7 characters.';
      }
      if (message === null) {
        return;
      }
    
      updateErrorMessageWithText(message);
    }

    function clearValidationMessage() {
      updateErrorMessageWithText('');   
    }
    
    function validatePasswords(p1, p2) {
    
      if (!p1 || !p2 || p1.length < 7 || p2.length < 7) {
        return PASSWORD_TOO_SHORT;
      }
      
      if (p1 !== p2) {
        return PASSWORDS_MUST_MATCH;
      }
      
      return PASSWORDS_OK;
    }
 
    function validateResetPasswordForm(resetPasswordForm) {

      var p1 = resetPasswordForm.password1.value;
      var p2 = resetPasswordForm.password2.value;
      
      var errorCode = validatePasswords(p1, p2);
      
      if (errorCode === PASSWORDS_OK) {
       clearValidationMessage();
       return true;
      }
      
      displayValidationMessage(errorCode);
      return false;
    }

block content

  form(method='post',action='/resetpassword',name='resetPasswordForm',onsubmit='return validateResetPasswordForm(this)')

    legend= title

    .form
        input(name='resetPasswordToken', value=resetPasswordToken, type='hidden')
        label(for='password1')
        br
        input(type='password',name='password1',id='password1',size='40',placeholder='New password')
        br
        .line
        label(for='password2')
        br
        input(type='password',name='password2',id='password2',size='40',placeholder='Confirm new password')
        br
    p#errorMessage= errorMessage
    input(type='submit',name='submit',value='Save')

  .footer
    a(href='http://vesperapp.co') Vesper
  