extends layout

block content
  #verified
    verititle Email Verified
    p.thanks Thank you for confirming 
      b.email #{locals.emailAddress} 
      as as your email address.

  .footer
    a(href='http://vesperapp.co') Vesper