body {
  text-align: center;
	margin-top: 50px;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Helvetica Neue', 'Sans Serif';
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	text-rendering: optimizeLegibility;
	background-color: #5e7d9a;
	color: #666;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	body {
		width: 320px;
		margin-left: 0;
		margin-top: 0;
		font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Helvetica Neue', 'Sans Serif';
		font-weight: 300;
		font-style: normal;
		font-size: 14px;
		text-rendering: optimizeLegibility;
		background-color: #f8f8f8;
		color: #666;
	}
}


a {
	position: absolute;
  color: #f8f8f8;
	bottom: 10px;
	margin-left: -20px;
	text-decoration: none;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	a {
		position: absolute;
	  color: #5e7d9a;
		bottom: -175px;
	}
}

#errorMessage {
  color: #a62828;
	font-size: 14px;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Helvetica Neue', 'Sans Serif';
	font-weight: 100;
}

legend { 
	margin-left: 110px;
	color: #5e7d9a;
	font-weight: 100;
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 22pt;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	legend { 
		margin-left: 15px;
		color: #5e7d9a;
		font-weight: 100;
		margin-top: 25px;
		margin-bottom: 5px;
		font-size: 10pt;
		font-weight: 600;
		text-transform: uppercase;
	}
}

h1 {
	color: #5e7d9a;
	font-size: 20px;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Helvetica Neue', 'Sans Serif';
	font-weight: 300;
}

h2 {
	color: #f8f8f8;
	font-size: 20px;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Helvetica Neue', 'Sans Serif';
	font-weight: 300;
}


p {
	color: #f8f8f8;
	font-size: 16px;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Helvetica Neue', 'Sans Serif';
	font-weight: 300;
}


input[type=submit] {
	padding: 5px;
	font-weight: medium;
	color: #5e7d9a;
	background-color: #f8f8f8;
	height: 35px;
	margin-top: 35px;
	margin-bottom: 45px;
	margin-left: -285px;
	border: 1px solid #5e7d9a;
	font-size: 16px;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Helvetica Neue', 'Sans Serif';
	font-weight: 400;
	width: 60px;
	-webkit-border-radius: 5pt;
	-moz-border-radius: 5pt;
	border-radius: 5pt;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	input[type=submit] {
		background-color: #fff;
		width: 322px;
		height: 44px;
		margin-top: 25px;
		margin-left: -1px;
		-webkit-border-radius: 0pt;
		-moz-border-radius: 0pt;
		border-radius: 0pt;
		border: 1px solid #c8c8c8;
		-webkit-appearance: none;
		font-size: 15pt;
		font-weight: 400;
	}
	
	input[type=submit]:hover {
		text-decoration: none;
	}
}

input[type=submit]:hover {
	text-decoration: none;
	cursor: pointer;
}

input[type=submit]:active {
	text-decoration: none;
	cursor: pointer;
	background-color: #5e7d9a;
	color: #f8f8f8;
}

input[type=password] {
	height: 30px;
	font-size: 17px;
	margin-bottom: 0px;
	margin-top: -10px;
	margin-left: 30px;
	padding-bottom: 5px;
	border: none;
	border-bottom: 1px solid #c8c8c8;
	background-color:rgba(0, 0, 0, 0.0);
	width: 83%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	input[type=password] {
			height: 30px;
			font-size: 16px;
			padding-bottom: 0px;
			padding-top: 0px;
			margin-left: -25px;
			margin-bottom: 10px;
			margin-top: -5px;
			padding-bottom: 0px;
			border: none;
			width: 83%;
	}
}

input[type=password]:focus {
	outline-color: transparent;
  outline-style: none;
}


form {
	display: inline-block;
	text-align: center;
	border-width: 0px;
	border-color: #aaa;
	border-radius: 0;
	border-style: none none solid none;
	background-color: #f8f8f8;
	width: 450px;
	-webkit-border-radius: 15pt;
	-moz-border-radius: 15pt;
	border-radius: 15pt;
	margin-top: 10%;
	overflow-x: hidden;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
		form {
			display: inline-block;
			border-width: 0px;
			border-color: #aaa;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			background-color: #f8f8f8;
			width: 320px;
			margin-top: 0%;
		}
}

::-webkit-input-placeholder {
	color: #8d8b8b;
	font-size: 20px;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Helvetica Neue', 'Sans Serif';
	font-weight: 100;
	line-height: 0.9em;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	.form {
	border: 1px solid #c8c8c8;
	width: 330px;
	height: 105px;
	background-color: #fff;
	margin-left: -2px;
	overflow-x: hidden;
	}
}


.line {
	color: #f8f8f8;
	background-color: #f8f8f8;
	height: 0px;
	width: 0px;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	.line {
		margin-left: 17px;
		height: 1px;
		width: 320px;
		color: #c8c8c8;
		background: #c8c8c8;
		font-size: 0;
	}
}


.footer {
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	.footer {
		position: relative;
		bottom: 5px;
	}
}

#verified {
	display: inline-block;
	text-align: center;
	border-width: 0px;
	border-color: #aaa;
	border-radius: 0;
	border-style: none none solid none;
	background-color: #f8f8f8;
	width: 350px;
	-webkit-border-radius: 15pt;
	-moz-border-radius: 15pt;
	border-radius: 15pt;
	margin-top: 10%;
	overflow-x: hidden;
	padding: 50px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	#verified {
		display: inline-block;
		border-width: 0px;
		border-color: #aaa;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		background-color: #f8f8f8;
		width: 320px;
		text-align: left;
		padding: 0;
	}
}

verititle { 
	text-align: center;
	color: #5e7d9a;
	font-weight: 100;
	margin-bottom: 25px;
	font-size: 22pt;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	verititle { 
		margin-left: 15px;
		color: #000000;
		font-weight: 100;
		margin-bottom: 5px;
		font-size: 10pt;
		font-weight: 600;
		text-transform: uppercase;
	}
}

p.thanks {
	text-align: left;
	color: #6b6b6b;
	font-size: 20px;
	font-weight: 100;
	margin-top: 30px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	p.thanks {
		text-align: left;
		color: #6b6b6b;
		font-size: 16px;
		font-weight: 300;
		margin-top: 10px;
		margin-left: 15px;
		margin-bottom: 150px;
	}
}

b.email {
	font-weight: 100;
	color: #000000;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	b.email {
		font-weight: 300;
		color: #000000;
	}
}

.stats {
	background-color: #f8f8f8;
	text-align: left;
	padding-top: 13%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 100px;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Helvetica Neue', 'Sans Serif';
}

.stats h4 {
	color: #000000;
	font-size: 14px;
	padding-left: 103px;
}
.stats table {
	color: #000000;
	font-size: 17px;
	width: 325px;
	padding-left: 100px;
}

td.num {
	text-align: right;
}

.stats p {
	color: #000000;
	font-weight: 100;
	font-size: 12px;
	padding-top: 30px;
	padding-left: 103px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	table, th, td, tr {
		border: none;
	}
	.stats {
		background-color: #f8f8f8;
		text-align: left;
		padding-top: 5px;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 100px;
		font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Ideal Sans', 'Helvetica Neue', 'Sans Serif';
	}
	.stats table {
		padding-left: 17px;
		font-size: 17px;
		width: 340px;
		background-color: #fff;
		margin-left: -2px;
		overflow-x: hidden;
	}
	td.num {
		text-align: right;
		padding-right: 10px;
	}
	.stats p {
		padding-left: 20px;
		font-weight: 300;
		font-size: 15px;
		padding-top: 0px;
		padding-bottom: 30px;
		color: #c8c8c8;
	}
	.stats h4 {
		padding-left: 20px;
		margin-bottom: 10px;
	}
	.stats tr {
		height: 50px;
	}
	.statsline {
		margin-left: -20px;
		height: 1px;
		width: 360px;
		color: #c8c8c8;
		background: #c8c8c8;
		font-size: 0;
	}
}